# Extas settings
EXTAS__BASE_PATH = "/var/www/jeyroik/extas-foundation"
EXTAS__DRIVER = "mongo"
EXTAS__DSN = "mongodb://localhost:27017"
EXTAS__DB = "extas"
EXTAS__CONTAINER_PATH_LOCK = "/var/www/jeyroik/extas-foundation/configs/container.php"
EXTAS__CONTAINER_PATH_STORAGE = "/var/www/jeyroik/extas-foundation/configs/container.json"
EXTAS__DRIVERS_STORAGE_PATH = "/var/www/jeyroik/extas-foundation/configs/drivers.json"