# Extas settings
EXTAS__BASE_PATH = "/var/www/jeyroik/extas-foundation"
EXTAS__CONTAINER_PATH_STORAGE_LOCK = "${EXTAS__BASE_PATH}/configs/container.php"
EXTAS__CONTAINER_PATH_STORAGE = "${EXTAS__BASE_PATH}/configs/container.json"